In [1]:
import csv
import pprint
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress
import matplotlib.pyplot as plt
from Config import apikey
import seaborn as sns
#Import df from csv
path=("data.csv")
df=pd.read_csv(path)
df

,Unnamed: 0,ticker,v,vw,o,c,h,l,t,n
0,2,BUD,185073263.0,58.7384,62.43,53.94,67.91,50.59,1641013200000,2105726
1,3,BUD,176759102.0,57.2436,64.01,55.02,66.05,50.59,1643691600000,2060645
2,4,BUD,177299717.0,55.8980,59.94,52.51,63.45,50.59,1646110800000,2053783
3,5,BUD,160603099.0,54.0878,60.79,48.57,63.45,47.23,1648785600000,1951050
4,6,BUD,170988591.0,51.7573,56.98,45.23,58.37,44.51,1651377600000,2004952
...,...,...,...,...,...,...,...,...,...,...
127,134,SBUX,537193724.0,96.9278,98.73,100.01,104.46,89.21,1688184000000,8717838
128,135,SBUX,405849391.0,95.7062,101.47,100.01,104.46,89.21,1690862400000,6640231
129,136,SBUX,278809560.0,94.1343,98.40,100.01,101.92,89.21,1693540800000,4407215
130,137,SBUX,165678871.0,93.6594,91.05,100.01,101.92,89.21,1696132800000,2570335
131,138,SBUX,37688828.0,96.7790,91.83,100.01,101.92,90.55,1698811200000,436126